<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">P.A.W.S.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animals/cat">Cats</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/animals/dog">Dogs</a>
      </li>

      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" id="login_out" href="{{#if user}}/logout{{else}}/login{{/if}}">{{#if user}}Sign
          Out{{else}}Sign In{{/if}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container form-container mb-5 animated slideInRight">
  <form id="search-form">
    <div class="form-group">
      <label for="name-input">Name</label>
      <input type="text" class="form-control" required id="name-input" value="{{search.dataValues.name}}" placeholder="Required">
    </div>
    <div class="form-group">
      <label for="type-input">Animal Type</label>
      <select type="text" class="form-control" required id="type-input" placeholder="required">
        <option selected value="{{search.dataValues.type}}">{{#if search}}{{search.dataValues.type}}{{else}}Choose...{{/if}}</option>
        <option value="Dog">Dogs</option>
        <option value="Cat">Cats</option>
        <option value="Rabbit">Rabbits</option>
        <option value="Horse">Horses</option>
        <option value="Bird">Birds</option>
        <option value="Barnyard">Barnyard</option>
      </select>
    </div>
    <div class="form-group">
      <label for="breed-input">Breed</label>
      <select type="text" class="form-control" id="breed-input"  placeholder="Breed">
        <option selected value="{{search.dataValues.breed}}">{{#if search}}{{search.dataValues.breed}}{{else}}Choose...{{/if}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="age-input">Age</label>
      <select type="text" class="form-control" id="age-input"  placeholder="Age">
        <option value="{{search.dataValues.age}}">{{#if search}}{{search.dataValues.age}}{{else}}Choose...{{/if}}</option>
        <option value="baby">Baby</option>
        <option value="young">Young</option>
        <option value="adult">Adult</option>
        <option value="senion">Senior</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gender-select">Gender</label>
      <select class="form-control" id="gender-select">
        <option selected value="{{search.dataValues.gender}}">{{#if search}}{{search.dataValues.gender}}{{else}}Choose...{{/if}}</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="male,female">Either</option>
      </select>
    </div>
    <div class="form-group">
      <label for="children-select">Good with Children</label>
      <select class="form-control" id="children-select">
        <option selected value="{{search.dataValues.good_with_children}}">{{#if search}}{{search.dataValues.good_with_children}}{{else}}Choose...{{/if}}</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dogs-select">Good with Dogs</label>
      <select class="form-control" id="dogs-select">
        <option selected value="{{search.dataValue_good_with_dogs}}">{{#if search}}{{search.dataValues.good_with_dogs}}{{else}}Choose...{{/if}}</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="cats-select">Good with Cats</label>
      <select class="form-control" id="cats-select">
        <option selected value="{{search.dataValue_good_with_cats}}">{{#if search}}{{search.dataValues.good_with_cats}}{{else}}Choose...{{/if}}</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="zip-input">Zip Code</label>
      <input type="text" class="form-control" required id="zip-input" value="{{search.dataValues.location}}" placeholder="Required">
    </div>
    <div class="form-group">
      <h5>Email me when new pets are available</h5>
        <div class="form-check">
        <input class="form-check-input email-radio" type="radio" name="email-radio" id="email-radio-yes" value="1" checked>
        <label class="form-check-label" for="email-radio-yes">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input email-radio" type="radio" name="email-radio" id="email-radio-no" value="0" {{#if search}}{{#unless search.dataValues.emailOn}}checked{{/unless}}{{/if}}>
        <label class="form-check-label" for="email-radio-no">
          No
        </label>
      </div>
    </div>
    {{#if search}}<button type="submit" id="animal-search-update" data-userid={{search.dataValues.id}} class="btn btn-primary btn-lg btn-block">Update</button>
      {{else}}<button type="submit" id="animal-search-submit"  class="btn btn-primary btn-lg btn-block">Submit</button>
    {{/if}}
  </form>
</div>
<!-- Footer -->
<hr class="mt-5">
<footer class="page-footer pt-2">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/bradleyknutson"> Bradley Knutson,</a>
    <a href="https://github.com/sstott09"> Steven Stott, &</a>
    <a href="https://github.com/stacyholtz6"> Stacy Holtz</a>
  </div>
</footer>